In [1]:
import pandas as pd
pd.set_option('expand_frame_repr', False) 

pd_display_cols = 50
pd_display_rows = 20
pd.set_option('display.max_rows', pd_display_rows)
pd.set_option('display.min_rows', pd_display_rows)

# Load BIM_data - 10 columns

In [2]:
df_BIM_data = pd.read_csv('BIM_data.csv')
df_BIM_data

            Lng        Lat    DOM  followers  totalPrice  square  kitchen  bathRoom  floor  constructionTime
0    116.400524  39.958938    1.0         20       215.0   43.79        1         1     14              1989
1    116.434144  39.892211   69.0         20       479.0   47.56        1         1      6              1993
2    116.416214  39.906904    1.0         17       313.0   57.76        1         1     16              1979
3    116.411858  39.869364    1.0          0       190.0   90.65        1         1     12              2009
4    116.448623  39.945062   84.0         58       830.0   82.04        1         1     22              2007
5    116.417991  39.956806   13.0         64       888.0  100.02        1         1     20              1994
6    116.455654  39.898084  100.0         48       427.0   50.36        1         1     28              2009
7    116.446478  39.936531    4.0          1       515.0   55.42        1         1      6              1994
8    116.453086  39.898397    1.0          1       251.0   61.93        1         1     23              2009
9    116.435195  39.919148    1.0          3       225.0   44.32        1         1      6              1992
..          ...        ...    ...        ...         ...     ...      ...       ...    ...               ...
990  116.434144  39.892211    1.0         22       438.0   84.52        1         1      6              1993
991  116.437847  39.933684    1.0          1       435.0   48.04        1         1     10              2003
992  116.449756  39.934586  120.0         46       536.0   62.07        1         1      5              1992
993  116.441716  39.946158    1.0          0       429.0  111.49        1         2     25              2003
994  116.429885  39.954649   49.0          0       466.0   31.15        1         1      6              1988
995  116.420970  39.872978    1.0          2       174.0   42.17        1         1      6              1990
996  116.411480  39.945510    1.0          3       387.0   59.56        1         1      6              1987
997  116.451500  39.904606    1.0         21       347.0   75.55        1         1     21              2005
998  116.409688  39.958188   16.0         43       560.0   55.92        1         1     19              2006
999  116.430212  39.885090    1.0         12       378.0   78.00        1         1      6              1990

[1000 rows x 10 columns]

# Load economic data - 4 columns

In [3]:
df_economic_data = pd.read_csv('economic_data.csv')
df_economic_data

     fiveYearsProperty  subway  communityAverage   tradeTime
0                  1.0     1.0           96140.0  20150406.0
1                  1.0     1.0           85681.0  20170215.0
2                  1.0     1.0           90270.0  20160204.0
3                  1.0     1.0           67507.0  20120828.0
4                  1.0     1.0          105084.0  20170303.0
5                  0.0     1.0           97274.0  20161011.0
6                  1.0     1.0           78235.0  20171213.0
7                  1.0     1.0           84810.0  20170209.0
8                  0.0     1.0           78590.0  20130329.0
9                  1.0     1.0          102667.0  20141227.0
..                 ...     ...               ...         ...
990                1.0     1.0           85681.0  20151031.0
991                1.0     1.0          117682.0  20150531.0
992                0.0     1.0           88516.0  20171122.0
993                1.0     1.0           75365.0  20150331.0
994                1.0     1.0          105500.0  20170419.0
995                0.0     1.0           79938.0  20150110.0
996                1.0     1.0          107682.0  20140828.0
997                1.0     1.0           84031.0  20151108.0
998                1.0     1.0           79901.0  20170412.0
999                1.0     1.0           83749.0  20151114.0

[1000 rows x 4 columns]

# Load Sustainable data - 4 columns

In [4]:
df_sustainable_data = pd.read_csv('sustainable_data.csv')
df_sustainable_data

     renovationCondition_1  renovationCondition_2  renovationCondition_3  renovationCondition_4
0                        0                      0                      1                      0
1                        0                      0                      1                      0
2                        0                      1                      0                      0
3                        1                      0                      0                      0
4                        0                      0                      0                      1
5                        0                      0                      0                      1
6                        0                      0                      1                      0
7                        0                      0                      1                      0
8                        1                      0                      0                      0
9                        0                      0                      1                      0
..                     ...                    ...                    ...                    ...
990                      0                      0                      1                      0
991                      1                      0                      0                      0
992                      0                      0                      1                      0
993                      0                      0                      0                      1
994                      0                      0                      0                      1
995                      0                      0                      1                      0
996                      0                      0                      1                      0
997                      0                      0                      0                      1
998                      0                      0                      0                      1
999                      0                      0                      1                      0

[1000 rows x 4 columns]

# Merge data from 3 sources - 18 columns

In [5]:
df1 = pd.merge(df_BIM_data, df_economic_data, left_index=True, right_index=True)
df1

            Lng        Lat    DOM  followers  totalPrice  square  kitchen  bathRoom  floor  constructionTime  fiveYearsProperty  subway  communityAverage   tradeTime
0    116.400524  39.958938    1.0         20       215.0   43.79        1         1     14              1989                1.0     1.0           96140.0  20150406.0
1    116.434144  39.892211   69.0         20       479.0   47.56        1         1      6              1993                1.0     1.0           85681.0  20170215.0
2    116.416214  39.906904    1.0         17       313.0   57.76        1         1     16              1979                1.0     1.0           90270.0  20160204.0
3    116.411858  39.869364    1.0          0       190.0   90.65        1         1     12              2009                1.0     1.0           67507.0  20120828.0
4    116.448623  39.945062   84.0         58       830.0   82.04        1         1     22              2007                1.0     1.0          105084.0  20170303.0
5    116.417991  39.956806   13.0         64       888.0  100.02        1         1     20              1994                0.0     1.0           97274.0  20161011.0
6    116.455654  39.898084  100.0         48       427.0   50.36        1         1     28              2009                1.0     1.0           78235.0  20171213.0
7    116.446478  39.936531    4.0          1       515.0   55.42        1         1      6              1994                1.0     1.0           84810.0  20170209.0
8    116.453086  39.898397    1.0          1       251.0   61.93        1         1     23              2009                0.0     1.0           78590.0  20130329.0
9    116.435195  39.919148    1.0          3       225.0   44.32        1         1      6              1992                1.0     1.0          102667.0  20141227.0
..          ...        ...    ...        ...         ...     ...      ...       ...    ...               ...                ...     ...               ...         ...
990  116.434144  39.892211    1.0         22       438.0   84.52        1         1      6              1993                1.0     1.0           85681.0  20151031.0
991  116.437847  39.933684    1.0          1       435.0   48.04        1         1     10              2003                1.0     1.0          117682.0  20150531.0
992  116.449756  39.934586  120.0         46       536.0   62.07        1         1      5              1992                0.0     1.0           88516.0  20171122.0
993  116.441716  39.946158    1.0          0       429.0  111.49        1         2     25              2003                1.0     1.0           75365.0  20150331.0
994  116.429885  39.954649   49.0          0       466.0   31.15        1         1      6              1988                1.0     1.0          105500.0  20170419.0
995  116.420970  39.872978    1.0          2       174.0   42.17        1         1      6              1990                0.0     1.0           79938.0  20150110.0
996  116.411480  39.945510    1.0          3       387.0   59.56        1         1      6              1987                1.0     1.0          107682.0  20140828.0
997  116.451500  39.904606    1.0         21       347.0   75.55        1         1     21              2005                1.0     1.0           84031.0  20151108.0
998  116.409688  39.958188   16.0         43       560.0   55.92        1         1     19              2006                1.0     1.0           79901.0  20170412.0
999  116.430212  39.885090    1.0         12       378.0   78.00        1         1      6              1990                1.0     1.0           83749.0  20151114.0

[1000 rows x 14 columns]

In [6]:
df = pd.merge(df1, df_sustainable_data, left_index=True, right_index=True)
df

            Lng        Lat    DOM  followers  totalPrice  square  kitchen  bathRoom  floor  constructionTime  fiveYearsProperty  subway  communityAverage   tradeTime  renovationCondition_1  renovationCondition_2  renovationCondition_3  renovationCondition_4
0    116.400524  39.958938    1.0         20       215.0   43.79        1         1     14              1989                1.0     1.0           96140.0  20150406.0                      0                      0                      1                      0
1    116.434144  39.892211   69.0         20       479.0   47.56        1         1      6              1993                1.0     1.0           85681.0  20170215.0                      0                      0                      1                      0
2    116.416214  39.906904    1.0         17       313.0   57.76        1         1     16              1979                1.0     1.0           90270.0  20160204.0                      0                      1                      0                      0
3    116.411858  39.869364    1.0          0       190.0   90.65        1         1     12              2009                1.0     1.0           67507.0  20120828.0                      1                      0                      0                      0
4    116.448623  39.945062   84.0         58       830.0   82.04        1         1     22              2007                1.0     1.0          105084.0  20170303.0                      0                      0                      0                      1
5    116.417991  39.956806   13.0         64       888.0  100.02        1         1     20              1994                0.0     1.0           97274.0  20161011.0                      0                      0                      0                      1
6    116.455654  39.898084  100.0         48       427.0   50.36        1         1     28              2009                1.0     1.0           78235.0  20171213.0                      0                      0                      1                      0
7    116.446478  39.936531    4.0          1       515.0   55.42        1         1      6              1994                1.0     1.0           84810.0  20170209.0                      0                      0                      1                      0
8    116.453086  39.898397    1.0          1       251.0   61.93        1         1     23              2009                0.0     1.0           78590.0  20130329.0                      1                      0                      0                      0
9    116.435195  39.919148    1.0          3       225.0   44.32        1         1      6              1992                1.0     1.0          102667.0  20141227.0                      0                      0                      1                      0
..          ...        ...    ...        ...         ...     ...      ...       ...    ...               ...                ...     ...               ...         ...                    ...                    ...                    ...                    ...
990  116.434144  39.892211    1.0         22       438.0   84.52        1         1      6              1993                1.0     1.0           85681.0  20151031.0                      0                      0                      1                      0
991  116.437847  39.933684    1.0          1       435.0   48.04        1         1     10              2003                1.0     1.0          117682.0  20150531.0                      1                      0                      0                      0
992  116.449756  39.934586  120.0         46       536.0   62.07        1         1      5              1992                0.0     1.0           88516.0  20171122.0                      0                      0                      1                      0
993  116.441716  39.946158    1.0          0       429.0  111.49        1         2     25              2003                1.0     1.0           75365.0  20150331.0                      0                      0                      0                      1
994  116.429885  39.954649   49.0          0       466.0   31.15        1         1      6              1988                1.0     1.0          105500.0  20170419.0                      0                      0                      0                      1
995  116.420970  39.872978    1.0          2       174.0   42.17        1         1      6              1990                0.0     1.0           79938.0  20150110.0                      0                      0                      1                      0
996  116.411480  39.945510    1.0          3       387.0   59.56        1         1      6              1987                1.0     1.0          107682.0  20140828.0                      0                      0                      1                      0
997  116.451500  39.904606    1.0         21       347.0   75.55        1         1     21              2005                1.0     1.0           84031.0  20151108.0                      0                      0                      0                      1
998  116.409688  39.958188   16.0         43       560.0   55.92        1         1     19              2006                1.0     1.0           79901.0  20170412.0                      0                      0                      0                      1
999  116.430212  39.885090    1.0         12       378.0   78.00        1         1      6              1990                1.0     1.0           83749.0  20151114.0                      0                      0                      1                      0

[1000 rows x 18 columns]